Repository kociap/nebula, changes with the owners that CODEOWNERS names for each.
All owners: @kociap, @sebawoz02, @miloszchojecki, @vytax248, @BartoszMichalak13

CODEOWNERS:

# Global owner
* @kociap

# Module owners
ci/ @sebawoz02
src/executor/ @miloszchojecki
src/model/ @kociap
src/persistence/ @vytax248
src/renderer/ @kociap
src/ui/ @BartoszMichalak13 @sebawoz02
src/windowing/ @sebawoz02

[Windowing] 2D Camera implementation
  CMakeLists.txt
  shaders/passthrough.vert
  shaders/wire.frag
  src/main.cpp
  src/windowing/camera.cpp
  src/windowing/camera.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

[Windowing] Implementation of zooming using the mouse scroll
  shaders/passthrough.vert
  src/windowing/camera.cpp
  src/windowing/camera.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

[Windowing] Fix zoom_level type in shader
  shaders/passthrough.vert
Owners: @kociap

[Windowing] Fix zoom_level type in shader
  shaders/passthrough.vert
Owners: @kociap

fix window.cpp not compiling due to missing gl.h
  src/windowing/window.cpp
Owners: @sebawoz02

fix static deinitialisation fiasco
  CMakeLists.txt
  src/main.cpp
  src/rendering/rendering.cpp
  src/rendering/shader.cpp
  src/rendering/shader.hpp
Owners: @kociap

implement gates logic
  src/model/model.cpp
Owners: @kociap

implement gates logic
  src/model/model.cpp
Owners: @kociap

add gates theory documentation
  docs/gates.tex
Owners: @kociap

actually fix static destruction order fiasco
  src/main.cpp
  src/rendering/rendering.cpp
  src/rendering/shader.cpp
  src/rendering/shader.hpp
Owners: @kociap

bump anton_core version
  CMakeLists.txt
Owners: @kociap

rework camera, windowing, projection matrices
  CMakeLists.txt
  shaders/passthrough.vert
  shaders/wire.frag
  src/components/camera.cpp
  src/components/camera.hpp
  src/main.cpp
  src/rendering/rendering.cpp
  src/rendering/shader.cpp
  src/windowing/camera.cpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

fix near and far planes being switched
  src/components/camera.cpp
Owners: @kociap

add execution
  src/execution/ANDGate.cpp
  src/execution/ANDGate.hpp
  src/execution/Clock.cpp
  src/execution/Clock.hpp
  src/execution/Gate.hpp
  src/execution/NANDGate.cpp
  src/execution/NANDGate.hpp
  src/execution/NORGate.cpp
  src/execution/NORGate.hpp
  src/execution/NOTGate.cpp
  src/execution/NOTGate.hpp
  src/execution/ORGate.cpp
  src/execution/ORGate.hpp
  src/execution/XNORGate.cpp
  src/execution/XNORGate.hpp
  src/execution/XORGate.cpp
  src/execution/XORGate.hpp
  src/execution/test.cpp
Owners: @kociap

clamp zoom level
  src/components/camera.cpp
Owners: @kociap

fix alpha set to 0 in wire.frag
  shaders/wire.frag
Owners: @kociap

add grid
  shaders/grid.frag
  shaders/grid.vert
  src/main.cpp
Owners: @kociap

move scroll callback out of windowing
  src/main.cpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

[UI] Moved all objects to UI structure
  CMakeLists.txt
  src/components/camera.hpp
  src/main.cpp
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/ui/ui.cpp
  src/ui/ui.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Renamed Movable_rect to movable_gate. Added ports to movable_gate.
  CMakeLists.txt
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Implementation of port structure.
  src/ui/port.cpp
  src/ui/port.hpp
Owners: @BartoszMichalak13, @sebawoz02

[UI] Movable Gate rendering fix
  src/components/camera.hpp
  src/main.cpp
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/node_rect.cpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/ui/ui.cpp
  src/ui/ui.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Ports rendering and colors in shader
  CMakeLists.txt
  shaders/passthrough.vert
  shaders/wire.frag
  src/components/camera.cpp
  src/components/camera.hpp
  src/main.cpp
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/node_rect.cpp
  src/ui/port.cpp
  src/ui/ui.cpp
  src/ui/ui.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Moved all objects to UI structure
  CMakeLists.txt
  src/components/camera.hpp
  src/main.cpp
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/ui/ui.cpp
  src/ui/ui.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Implementation of port structure.
  src/ui/port.cpp
  src/ui/port.hpp
Owners: @BartoszMichalak13, @sebawoz02

[UI] Movable Gate rendering fix
  src/components/camera.hpp
  src/main.cpp
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/node_rect.cpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/ui/ui.cpp
  src/ui/ui.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Ports rendering and colors in shader
  CMakeLists.txt
  shaders/passthrough.vert
  shaders/wire.frag
  src/components/camera.cpp
  src/components/camera.hpp
  src/main.cpp
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/node_rect.cpp
  src/ui/port.cpp
  src/ui/ui.cpp
  src/ui/ui.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Renamed Movable_rect to movable_gate. Added ports to movable_gate.
  CMakeLists.txt
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

move scroll callback out of windowing
  src/main.cpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

move scroll callback out of windowing
  src/main.cpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

decouple non-windowing elements from windowing
  CMakeLists.txt
  src/core/input.hpp
  src/main.cpp
  src/shaders/compiler.cpp
  src/shaders/compiler.hpp
  src/ui/scene.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

disable grid
  src/main.cpp
Owners: @kociap

[UI] Port linking implementation
  src/components/camera.hpp
  src/main.cpp
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/ui/scene.hpp
  src/ui/ui.cpp
  src/ui/ui.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Port linking implementation
  src/components/camera.hpp
  src/main.cpp
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/ui/scene.hpp
  src/ui/ui.cpp
  src/ui/ui.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

coalesce ui and scene
  CMakeLists.txt
  src/main.cpp
  src/ui/scene.cpp
  src/ui/scene.hpp
  src/ui/ui.hpp
  src/windowing/window.cpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

remove node_rect
  CMakeLists.txt
  src/ui/movable_gate.cpp
  src/ui/movable_gate.hpp
  src/ui/node_rect.cpp
  src/ui/node_rect.hpp
  src/ui/scene.cpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

renamed Movable_Gate to Gate
  CMakeLists.txt
  src/main.cpp
  src/ui/gate.cpp
  src/ui/gate.hpp
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

import Dear ImGui
  CMakeLists.txt
Owners: @kociap

[UI] Fix camera moving wrong directions
  src/components/camera.cpp
  src/ui/port.cpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Fix camera moving wrong directions
  src/components/camera.cpp
  src/ui/port.cpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02
