Repository kociap/nebula, changes with the owners that CODEOWNERS names for each.
All owners: @kociap, @sebawoz02, @miloszchojecki, @vytax248, @BartoszMichalak13

CODEOWNERS:

# Global owner
* @kociap

# Module owners
ci/ @sebawoz02
src/executor/ @miloszchojecki
src/model/ @kociap
src/persistence/ @vytax248
src/renderer/ @kociap
src/ui/ @BartoszMichalak13 @sebawoz02
src/windowing/ @sebawoz02

change rendering order of the scene
  shaders/default.frag
  shaders/passthrough.vert
  shaders/port.frag
  shaders/wire.frag
  src/main.cpp
  src/ui/gate.cpp
  src/ui/gate.hpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

fix CI not being able to pull ssh git repository
  CMakeLists.txt
Owners: @kociap

bump anton_core version
  CMakeLists.txt
Owners: @kociap

rename port_t to Port_Kind and add Gate_Kind
  src/main.cpp
  src/ui/gate.cpp
  src/ui/gate.hpp
  src/ui/port.cpp
  src/ui/port.hpp
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Deleting all connections with CTRL_KEY
  src/core/input.hpp
  src/main.cpp
  src/ui/port.cpp
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Deleting all connections with CTRL_KEY
  src/core/input.hpp
  src/main.cpp
  src/ui/port.cpp
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

link imgui into the project
  CMakeLists.txt
Owners: @kociap

[UI] Added ability to delete connections by right-clicking
  src/main.cpp
Owners: @kociap

[UI] Added ability to delete connections by right-clicking
  src/main.cpp
Owners: @kociap

integrate imgui, create sidebar and viewport
  .gitignore
  CMakeLists.txt
  src/main.cpp
  src/rendering/opengl.cpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

make viewport render in correct size
  src/main.cpp
  src/rendering/rendering.cpp
Owners: @kociap

fix crash on framebuffer size == 0
  src/main.cpp
Owners: @kociap

Readme update
  README.md
Owners: @kociap

[DOCS] Added Doxygen comments
  src/components/camera.hpp
  src/rendering/framebuffer.hpp
  src/rendering/opengl.hpp
  src/rendering/rendering.cpp
  src/rendering/rendering.hpp
  src/rendering/shader.cpp
  src/rendering/shader.hpp
  src/rendering/vertex.hpp
  src/shaders/compiler.cpp
  src/shaders/compiler.hpp
  src/ui/gate.hpp
  src/ui/port.hpp
  src/ui/scene.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[DOCS] Added Doxygen comments
  src/components/camera.hpp
  src/rendering/framebuffer.hpp
  src/rendering/opengl.hpp
  src/rendering/rendering.cpp
  src/rendering/rendering.hpp
  src/rendering/shader.cpp
  src/rendering/shader.hpp
  src/rendering/vertex.hpp
  src/shaders/compiler.cpp
  src/shaders/compiler.hpp
  src/ui/gate.hpp
  src/ui/port.hpp
  src/ui/scene.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

Readme update
  README.md
Owners: @kociap

fix viewport stretching on toolbar resize
  src/main.cpp
Owners: @kociap

[UI] Viewport coordinates temporary fix
  src/components/camera.cpp
  src/components/camera.hpp
  src/main.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Viewport coordinates temporary fix
  src/components/camera.cpp
  src/components/camera.hpp
  src/main.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Viewport changed
  src/main.cpp
  src/ui/port.cpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Viewport changed
  src/main.cpp
  src/ui/port.cpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

add evaluation
  CMakeLists.txt
  shaders/port.frag
  src/evaluator/evaluator.cpp
  src/evaluator/evaluator.hpp
  src/main.cpp
  src/model/fwd.hpp
  src/model/gate.cpp
  src/model/gate.hpp
  src/model/model.hpp
  src/model/port.cpp
  src/model/port.hpp
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

fix port hittest
  src/model/port.cpp
Owners: @kociap

fix segmentation fault in evaluation_mode
  src/main.cpp
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[ UI ] menu sidebar
  src/main.cpp
  src/model/gate.hpp
Owners: @kociap

[MODEL] Clock fix (e_input)
  src/evaluator/evaluator.cpp
  src/evaluator/evaluator.hpp
  src/main.cpp
  src/model/gate.cpp
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

fix gate copy on creation
  src/ui/scene.cpp
Owners: @BartoszMichalak13, @sebawoz02

[ UI ] menu sidebar
  src/main.cpp
  src/model/gate.hpp
Owners: @kociap

merge something with toolbar
  src/main.cpp
  src/model/gate.hpp
Owners: @kociap

suppress CI error
  src/main.cpp
Owners: @kociap

once again suppress CI error
  src/main.cpp
Owners: @kociap

add fixed gates logic documentation
  docs/gates.tex
Owners: @kociap

add evaluate documentation and class diagram
  docs/diagramklas.png
  docs/evaluatedocumentation.tex
Owners: @kociap

[MODEL] Added clock type gate.
  src/evaluator/evaluator.cpp
  src/main.cpp
  src/model/gate.cpp
  src/model/gate.hpp
  src/model/port.cpp
Owners: @kociap

[UI] Change input value with right click
  src/main.cpp
  src/model/gate.hpp
Owners: @kociap

add sequence diagram for window scene and camera
  docs/sequencediagramwindowscenecamera.png
Owners: @kociap

dock viewport and toolbar permanently
  src/main.cpp
Owners: @kociap

fix segmentation fault in evaluation_mode (#33)
  src/main.cpp
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[MODEL] Added clock type gate.
  src/evaluator/evaluator.cpp
  src/main.cpp
  src/model/gate.cpp
  src/model/gate.hpp
  src/model/port.cpp
Owners: @kociap

[UI] Change input value with right click
  src/main.cpp
  src/model/gate.hpp
Owners: @kociap
