Repository kociap/nebula, changes with the owners that CODEOWNERS names for each.
All owners: @kociap, @sebawoz02, @miloszchojecki, @vytax248, @BartoszMichalak13

CODEOWNERS:

# Global owner
* @kociap

# Module owners
ci/ @sebawoz02
src/executor/ @miloszchojecki
src/model/ @kociap
src/persistence/ @vytax248
src/renderer/ @kociap
src/ui/ @BartoszMichalak13 @sebawoz02
src/windowing/ @sebawoz02

Changed compiler in CI to clang.
  .github/workflows/main_ci.yaml
  ci/config_env.sh
Owners: @kociap, @sebawoz02

Separate github workflow for compilation with clang added.
  .github/workflows/clang_ci.yaml
  README.md
Owners: @kociap

Separate github workflow for compilation with clang added.
  .github/workflows/main_ci.yaml
  ci/config_env.sh
Owners: @kociap, @sebawoz02

Separate github workflow for compilation with clang added.
  .github/workflows/clang_ci.yaml
  README.md
Owners: @kociap

Separate github workflow for compilation with clang added.
  .github/workflows/clang_ci.yaml
  README.md
Owners: @kociap

Separate github workflow for compilation with clang added. (#5)
  .github/workflows/clang_ci.yaml
  README.md
Owners: @kociap

rename CI badges to 'g++' and 'clang'
  .github/workflows/clang.yaml
  .github/workflows/g++.yaml
  README.md
Owners: @kociap

Create windowing_deadlines.tex
  docs/windowing_deadlines.tex
Owners: @kociap

Create windowing_deadlines.tex (#6)
  docs/windowing_deadlines.tex
Owners: @kociap

1. Fix related to incorrect include of OpenGL in the program 2. Addition of missing Glad initialization
  CMakeLists.txt
  src/main.cpp
Owners: @kociap

Added OpenGL libraries to environment config script.
  ci/config_env.sh
Owners: @sebawoz02

Added stability check Action.
  .github/workflows/stability.yaml
  README.md
Owners: @kociap

Added stability check Action.
  .github/workflows/stability.yaml
  README.md
Owners: @kociap

Stability action fix
  .github/workflows/stability.yaml
Owners: @kociap

fix crash on startup due to uninitialised GLAD
  CMakeLists.txt
  src/main.cpp
Owners: @kociap

implement basic model
  CMakeLists.txt
  src/model/fwd.hpp
  src/model/model.hpp
  src/types.hpp
Owners: @kociap

Add files via upload
  docs/persistence_deadlines.tex
Owners: @kociap

[Windowing] Creation of movable rectangle structure
  CMakeLists.txt
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[Windowing] Moved window related actions to separate file
  CMakeLists.txt
  src/main.cpp
  src/ui/window.cpp
  src/ui/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

update anton_core
  CMakeLists.txt
Owners: @kociap

[Windowing] The application has been moved to fullscreen mode
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
  src/ui/window.cpp
Owners: @BartoszMichalak13, @sebawoz02

[Windowing] The application has been moved to fullscreen mode
  src/main.cpp
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
  src/ui/window.cpp
  src/ui/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[Windowing] Syntax changes, fixes and formatting.
  ci/config_env.sh
  src/main.cpp
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
  src/ui/window.cpp
  src/ui/window.hpp
Owners: @sebawoz02, @kociap, @BartoszMichalak13

[FIX] CI script not downloading necessary GL packages
  ci/config_env.sh
Owners: @sebawoz02

[FIX] CI script not downloading necessary GL packages
  ci/config_env.sh
Owners: @sebawoz02

fix code not compiling because of Array template parameters
  CMakeLists.txt
  src/types.hpp
Owners: @kociap

[UI] Created Movable Rectangle structure
  CMakeLists.txt
  src/types.hpp
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
  src/ui/node_rect.cpp
  src/ui/node_rect.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[UI] Created Movable Rectangle structure
  CMakeLists.txt
  src/types.hpp
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
  src/ui/node_rect.cpp
  src/ui/node_rect.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[rendering] opengl triangle
  CMakeLists.txt
  shaders/uv.frag
  shaders/uv.vert
  src/core/error.hpp
  src/core/handle.hpp
  src/core/types.hpp
  src/logging/logging.cpp
  src/logging/logging.hpp
  src/main.cpp
  src/rendering/framebuffer.cpp
  src/rendering/framebuffer.hpp
  src/rendering/opengl.cpp
  src/rendering/opengl.hpp
  src/rendering/opengl_defs.hpp
  src/rendering/opengl_undefs.hpp
  src/rendering/rendering.cpp
  src/rendering/rendering.hpp
  src/rendering/shader.cpp
  src/rendering/shader.hpp
  src/rendering/vertex.hpp
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
  src/ui/node_rect.cpp
  src/ui/node_rect.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[rendering] opengl triangle
  CMakeLists.txt
  shaders/uv.frag
  shaders/uv.vert
  src/core/error.hpp
  src/core/handle.hpp
  src/core/types.hpp
  src/logging/logging.cpp
  src/logging/logging.hpp
  src/main.cpp
  src/rendering/framebuffer.cpp
  src/rendering/framebuffer.hpp
  src/rendering/opengl.cpp
  src/rendering/opengl.hpp
  src/rendering/opengl_defs.hpp
  src/rendering/opengl_undefs.hpp
  src/rendering/rendering.cpp
  src/rendering/rendering.hpp
  src/rendering/shader.cpp
  src/rendering/shader.hpp
  src/rendering/vertex.hpp
  src/ui/movable_rect.cpp
  src/ui/movable_rect.hpp
  src/ui/node_rect.cpp
  src/ui/node_rect.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

[CI] Fix clang failing every build
  .github/workflows/clang.yaml
  .github/workflows/g++.yaml
  ci/config_clang.sh
  ci/config_env.sh
  ci/config_gcc.sh
Owners: @kociap, @sebawoz02

[CI] Fix clang failing every build
  .github/workflows/clang.yaml
  .github/workflows/g++.yaml
  ci/config_clang.sh
  ci/config_env.sh
  ci/config_gcc.sh
Owners: @kociap, @sebawoz02

[WINDOWING] Created main window structure.
  CMakeLists.txt
  src/core/types.hpp
  src/main.cpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

[WINDOWING] Created main window structure.
  CMakeLists.txt
  src/core/types.hpp
  src/main.cpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

[windowing] fix window.cpp not compiling due to missing gl/gl.h
  src/windowing/window.cpp
Owners: @sebawoz02

fix SIGSEGV on shutdown
  CMakeLists.txt
  src/logging/logging.cpp
  src/main.cpp
  src/rendering/framebuffer.cpp
  src/rendering/framebuffer.hpp
  src/rendering/rendering.cpp
  src/rendering/rendering.hpp
  src/rendering/shader.cpp
Owners: @kociap

fix typo pool_events -> poll_events
  src/main.cpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

add viewport resizing
  shaders/passthrough.vert
  shaders/wire.frag
  src/core/input.hpp
  src/logging/logging.cpp
  src/logging/logging.hpp
  src/main.cpp
  src/model/fwd.hpp
  src/model/model.hpp
  src/rendering/framebuffer.cpp
  src/rendering/rendering.cpp
  src/rendering/rendering.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

[Windowing] 2D Camera implementation
  CMakeLists.txt
  shaders/passthrough.vert
  shaders/wire.frag
  src/main.cpp
  src/windowing/camera.cpp
  src/windowing/camera.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

[Windowing] Implementation of zooming using the mouse scroll
  shaders/passthrough.vert
  src/windowing/camera.cpp
  src/windowing/camera.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02
