Repository kociap/nebula, changes with the owners that CODEOWNERS names for each.
All owners: @kociap, @sebawoz02, @miloszchojecki, @vytax248, @BartoszMichalak13

[PERSISTENCE] add loading from file and saving to file for gates and ports, todo connections
  src/main.cpp
  src/persistence/persistence.cpp
  src/persistence/persistence.hpp
Owners: @kociap, @vytax248

[PERSISTENCE] update cmake
  CMakeLists.txt
Owners: @kociap

Colorfull gates
  src/main.cpp
  src/model/gate.cpp
  src/model/gate.hpp
Owners: @kociap

parent 824bf4fc22943308ca4bd97b5610af7d91884a71 author Piotr Kocia <peter.kocia@gmail.com> 1706568338 +0100 committer BartoszMichalak13 <michalak.bartosz67@gmail.com> 1706620643 +0100
  src/model/gate.cpp
  src/model/gate.hpp
Owners: @kociap

[PERSISTENCE] add persistence after rebasing
  CMakeLists.txt
  src/main.cpp
  src/persistence/persistence.cpp
  src/persistence/persistence.hpp
Owners: @kociap, @vytax248

[MODEL] Evaluation mode not turning on fix
  src/main.cpp
Owners: @kociap

[PERISTANCE] minor change
  src/main.cpp
Owners: @kociap

rework viewport unprojection to correctly work as a sidewindow
  CMakeLists.txt
  src/components/camera.hpp
  src/main.cpp
  src/model/port.cpp
  src/model/port.hpp
  src/ui/scene.cpp
  src/ui/scene.hpp
  src/ui/viewport.cpp
  src/ui/viewport.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

add delete of port connections
  src/core/input.hpp
  src/main.cpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @sebawoz02

[PERSISTENCE] connections are now loading and saving to files, persistence works
  src/persistence/persistence.cpp
  src/persistence/persistence.hpp
Owners: @vytax248

fix crash on gate move
  src/main.cpp
Owners: @kociap

[PERSISTENCE] code standards fixed
  src/main.cpp
  src/persistence/persistence.cpp
  src/persistence/persistence.hpp
Owners: @kociap, @vytax248

code documentation finalisation, final touch-ups
  src/components/camera.cpp
  src/components/camera.hpp
  src/evaluator/evaluator.cpp
  src/model/gate.hpp
  src/model/port.hpp
  src/rendering/framebuffer.hpp
  src/rendering/opengl.hpp
  src/rendering/rendering.cpp
  src/rendering/rendering.hpp
  src/rendering/shader.hpp
  src/rendering/vertex.hpp
  src/shaders/compiler.hpp
  src/ui/scene.hpp
  src/ui/viewport.hpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

fix crash on connecting into nothing
  src/ui/scene.cpp
  src/ui/scene.hpp
Owners: @BartoszMichalak13, @sebawoz02

Colors reworked
  src/evaluator/evaluator.cpp
  src/main.cpp
  src/model/gate.cpp
  src/model/gate.hpp
Owners: @kociap

[UI] final touch on gate colors
  CMakeLists.txt
  src/components/camera.cpp
  src/components/camera.hpp
  src/core/input.hpp
  src/evaluator/evaluator.cpp
  src/main.cpp
  src/model/gate.hpp
  src/model/port.cpp
  src/model/port.hpp
  src/rendering/framebuffer.hpp
  src/rendering/opengl.hpp
  src/rendering/rendering.cpp
  src/rendering/rendering.hpp
  src/rendering/shader.hpp
  src/rendering/vertex.hpp
  src/shaders/compiler.hpp
  src/ui/scene.cpp
  src/ui/scene.hpp
  src/ui/viewport.cpp
  src/ui/viewport.hpp
  src/windowing/window.cpp
  src/windowing/window.hpp
Owners: @kociap, @BartoszMichalak13, @sebawoz02

final
  src/evaluator/evaluator.cpp
Owners: @kociap

add techdoc
  .gitignore
  docs/gate_example.jpg
  docs/techdoc.tex
  docs/user_interface.png
Owners: @kociap

Documentation
  Doxyfile
  docs/UI_class_diagram_nebula.png
  docs/WINDOWING_class_diagram_nebula.png
  docs/nebula_example_7bit_adder_1.png
  docs/nebula_example_7bit_adder_2.png
Owners: @kociap

Documentation
  Doxyfile
  docs/UI_class_diagram_nebula.png
  docs/WINDOWING_class_diagram_nebula.png
  docs/nebula_example_7bit_adder_1.png
  docs/nebula_example_7bit_adder_2.png
Owners: @kociap

[DOCS] upload persistence documentation
  docs/nebula_persistence_documentation.pdf
  docs/persistence_docs.tex
Owners: @kociap

CODEOWNERS:

# Global owner
* @kociap

# Module owners
ci/ @sebawoz02
src/executor/ @miloszchojecki
src/model/ @kociap
src/persistence/ @vytax248
src/renderer/ @kociap
src/ui/ @BartoszMichalak13 @sebawoz02
src/windowing/ @sebawoz02
